# This is an example workflow to help you get started with DownstreamTester

name: DownstreamTester 

on:
  #schedule:
  #  - cron: 0 6 * * * # Every day at 6:00

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  # This workflow so far contains a single job called "nightly"
  nightly:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Set your PAT as environment variable to GitHub.jl can use it for API calls
    env:
      ISSUETOKEN: ${{secrets.ISSUE_TOKEN}}

    steps:
      # Check-out your repository into main (for the config file)
      - uses: actions/checkout@v4
        with:
          path: "main"

      # Check-our your logs branch into "testdeps/logs"
      - uses: actions/checkout@v4
        with:
          ref: DownstreamTester/Logs
          path: "testdeps/logs"
        
      # Download the nightly version of Julia
      - uses: julia-actions/setup-julia@v2
        with:
          version: 'nightly'

      - name: setup git 
        run: |
          git config --global user.email "thiele@wias-berlin.de"
          git config --global user.name "Jan Philipp Thiele"

      # Add DownstreamTester to the local Julia environment and run nightly()
      - name: Run nightly()
        working-directory: ./main
        run: |
          julia -e '
            using Pkg
            Pkg.add(url="https://github.com/WIAS-PDELib/DownstreamTester.jl")
            using DownstreamTester
            DownstreamTester.nightly()'
      
      # Save the daily logs to the logfile branch
      - name: Commit logs
        working-directory: ./testdeps/logs
        run: git push
          
